---
// ChairsSection.astro
import ChairCard from './ChairCard.astro';
---

<section class="bg-white py-20">
  <h2 class="text-5xl lg:text-6xl text-center text-stone-900 mb-8">
    NOS CHAISES AU<br/>MAROC
  </h2>
  

  <ChairCard
    title="CHALLENGER"
    description="Le Challenger 175 reste l'une des meilleures options pour les entreprises recherchant une chaise au look corporate avec un excellent niveau de confort, un coût optimisé et une durée de vie de 5 ans en utilisation intensive comme pour toutes les chaises KWESK. Son assise large et profonde et ses nombreux réglages possibles offrent une sensation de confort exceptionnelle même sur de longues périodes d'utilisation."
    image="/chairs/challenger-chair.png"
    versions={[{ name: "CHALLENGER 175", type: "Chaise Manager" }]}
    imagePosition="right"
    href="/challenger"
  />

  <ChairCard
    title="GAMMA"
    description="La toute nouvelle Gamma 150 est l'équilibre ultime entre confort, prix et robustesse offert par Kwesk. Cette chaise est le choix parfait pour une utilisation intensive au bureau ou à la maison."
    image="/chairs/gamma-chair.jpg"
    versions={[{ name: "Gamma 150", type: "Chaise Opérateur" }]}
    imagePosition="left"
    href="/gamma"
  />


  <ChairCard
    title="CORPO 100"
    description="Le CORPO 100 offre l'équilibre ultime entre confort et style, conçu pour vous garder productif toute la journée. Son design élégant et son ergonomie supérieure en font un incontournable pour tout espace de travail moderne."
    image="/chairs/corpo-chair.jpg"
    versions={[{ name: "CORPO 100", type: "Chaise Opérateur" }]}
    imagePosition="right"
    href="/corpo-100"
  />





 
</section>